In [24]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [44]:
#loding data
data=pd.read_excel("Vrinda store.xlsx")
data

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,M,60,2022-01-06,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False
31043,31044,405-4724097-1016369,4724097,M,34,2022-01-06,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False
31044,31045,408-3572295-5992330,3572295,M,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False
31045,31046,405-1423498-9705162,1423498,M,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False
31046,31047,408-4694875-8249153,4694875,M,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False

In [45]:
data.shape

(31047, 19)

In [46]:
data.describe()

             index       Cust ID           Age        Amount  ship-postal-code
count  31047.00000  3.104700e+04  31047.000000  31047.000000      31047.000000
mean   15524.00000  4.936824e+06     39.496570    682.074822     460474.587206
std     8962.64124  2.900678e+06     15.117233    268.582173     198116.733009
min        1.00000  8.950000e+02     18.000000    229.000000     110001.000000
25%     7762.50000  2.416471e+06     28.000000    486.000000     313001.000000
50%    15524.00000  4.909885e+06     37.000000    646.000000     500028.000000
75%    23285.50000  7.454182e+06     47.000000    794.000000     600040.000000
max    31047.00000  9.999233e+06     78.000000   3036.000000     855117.000000

In [47]:
#describing object column
data.describe(include ="object")

,Order ID,Gender,Status,Channel,SKU,Category,Size,Qty,currency,ship-city,ship-state,ship-country
count,31047,31047,31047,31047,31047,31047,31047,31047,31047,31047,31047,31047
unique,28471,4,4,7,5287,8,11,7,1,2603,50,1
top,403-4984515-8861958,Women,Delivered,Amazon,JNE3797-KR-L,Set,M,1,INR,BENGALURU,MAHARASHTRA,IN
freq,12,21479,28641,11016,273,12391,5485,30878,31047,2540,4519,31047

In [48]:
for col in data.describe(include="object").columns:
    print(col)
    print(data[col].unique())

Order ID
['171-1029312-3038738' '405-2183842-2225946' '171-1641533-8921966' ...
 '408-3572295-5992330' '405-1423498-9705162' '408-4694875-8249153']
Gender
['Women' 'Men' 'W' 'M']
Status
['Delivered' 'Refunded' 'Cancelled' 'Returned']
Channel
['Myntra' 'Ajio' 'Amazon' 'Flipkart' 'Meesho' 'Others' 'Nalli']
SKU
['JNE1233-BLUE-KR-031-XXL' 'SET414-KR-NP-L' 'SET261-KR-PP-S' ...
 'J0090-TP-M' 'JNE3427-KR-XXL' 'J0051-KR-S']
Category
['kurta' 'Set' 'Western Dress' 'Top' 'Saree' 'Blouse' 'Ethnic Dress'
 'Bottom']
Size
['XXL' 'L' 'S' 'M' 'XL' 'XS' '3XL' 'Free' '6XL' '4XL' '5XL']
Qty
[1 'One' 2 4 3 'Two' 5]
currency
['INR']
ship-city
['MOHALI' 'GURUGRAM' 'KOLKATA' ... 'North 24 parganas' 'DIPHU'
 'VILE BHAGAD MIDC']
ship-state
['PUNJAB' 'HARYANA' 'WEST BENGAL' 'TAMIL NADU' 'MAHARASHTRA' 'KARNATAKA'
 'ANDHRA PRADESH' 'KERALA' 'ASSAM' 'TELANGANA' 'DELHI' 'ODISHA'
 'RAJASTHAN' 'UTTAR PRADESH' 'MADHYA PRADESH' 'UTTARAKHAND'
 'ANDAMAN & NICOBAR ' 'GUJARAT' 'CHANDIGARH' 'JHARKHAND' 'BIHAR'
 'HIMACHAL PRADESH' 'PUDUCHERRY' 'DADRA AND NAGAR' 'SIKKIM' 'GOA'
 'ARUNACHAL PRADESH' 'MANIPUR' 'JAMMU & KASHMIR' 'TRIPURA' 'New Delhi'
 'CHHATTISGARH' 'Bihar' 'LADAKH' 'MEGHALAYA' 'NAGALAND' 'MIZORAM' 'goa'
 'Punjab' 'Delhi' 'Nagaland' 'delhi' 'Goa' 'Chandigarh' 'punjab'
 'Arunachal Pradesh' 'bihar' 'Manipur' 'Sikkim' 'Arunachal pradesh']
ship-country
['IN']

In [49]:
df=data
df.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False

# exploratory data analysis and data cleaning

In [50]:
df.isnull().sum()

index               0
Order ID            0
Cust ID             0
Gender              0
Age                 0
Date                0
Status              0
Channel             0
SKU                 0
Category            0
Size                0
Qty                 0
currency            0
Amount              0
ship-city           0
ship-state          0
ship-postal-code    0
ship-country        0
B2B                 0
dtype: int64

In [51]:
#creating new column age group
df.loc[df["Age"]>=50,"age group"]="Senior" 
df.loc[df["Age"]<50,"age group"]="Adult" 
df.loc[df["Age"]<30,"age group"]="Teenger"
df.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,age group
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False,Adult
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False,Teenger
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False,Senior
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False,Teenger
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False,Senior

In [52]:
df['age group'].value_counts()

Adult      15543
Teenger     9415
Senior      6089
Name: age group, dtype: int64

In [53]:
df['Gender'].value_counts()

Women    21479
Men       9452
W           74
M           42
Name: Gender, dtype: int64

In [54]:
#repaling W, M with women and men
df['Gender'] = df['Gender'].replace(["M","W"],["Men","Women"])
df

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,age group
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False,Adult
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False,Teenger
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False,Senior
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False,Teenger
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,Men,60,2022-01-06,Delivered,Flipkart,J0083-KR-XL,kurta,XL,One,INR,565,PUNE,MAHARASHTRA,412307,IN,False,Senior
31043,31044,405-4724097-1016369,4724097,Men,34,2022-01-06,Delivered,Myntra,J0010-LCD-S,Set,S,One,INR,939,BENGALURU,KARNATAKA,560061,IN,False,Adult
31044,31045,408-3572295-5992330,3572295,Men,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,L,One,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False,Teenger
31045,31046,405-1423498-9705162,1423498,Men,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,M,One,INR,399,DHULE,MAHARASHTRA,424006,IN,False,Adult
31046,31047,408-4694875-8249153,4694875,Men,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,One,INR,791,WARANGAL,TELANGANA,506001,IN,False,Adult

In [55]:
df['Qty'].value_counts()

1      30878
2        114
3         19
Two       16
One       13
4          6
5          1
Name: Qty, dtype: int64

In [56]:
#replacing One and Two with 1,2
df['Qty'] = df['Qty'].replace(["One","Two"],[1,2])
df

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,Size,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,age group
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,XXL,1,INR,376,MOHALI,PUNJAB,140301,IN,False,Adult
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,L,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False,Teenger
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,S,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False,Senior
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,M,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False,Teenger
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,XXL,1,INR,544,GURUGRAM,HARYANA,122001,IN,False,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,Men,60,2022-01-06,Delivered,Flipkart,J0083-KR-XL,kurta,XL,1,INR,565,PUNE,MAHARASHTRA,412307,IN,False,Senior
31043,31044,405-4724097-1016369,4724097,Men,34,2022-01-06,Delivered,Myntra,J0010-LCD-S,Set,S,1,INR,939,BENGALURU,KARNATAKA,560061,IN,False,Adult
31044,31045,408-3572295-5992330,3572295,Men,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,L,1,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False,Teenger
31045,31046,405-1423498-9705162,1423498,Men,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,M,1,INR,399,DHULE,MAHARASHTRA,424006,IN,False,Adult
31046,31047,408-4694875-8249153,4694875,Men,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,3XL,1,INR,791,WARANGAL,TELANGANA,506001,IN,False,Adult

In [57]:
# creating new month column
df['month'] = df['Date'].dt.month_name()
df

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,age group,month
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,...,1,INR,376,MOHALI,PUNJAB,140301,IN,False,Adult,December
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,...,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False,Teenger,December
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,...,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False,Senior,December
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,...,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False,Teenger,December
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,...,1,INR,544,GURUGRAM,HARYANA,122001,IN,False,Senior,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31042,31043,405-4724097-1016369,4724097,Men,60,2022-01-06,Delivered,Flipkart,J0083-KR-XL,kurta,...,1,INR,565,PUNE,MAHARASHTRA,412307,IN,False,Senior,January
31043,31044,405-4724097-1016369,4724097,Men,34,2022-01-06,Delivered,Myntra,J0010-LCD-S,Set,...,1,INR,939,BENGALURU,KARNATAKA,560061,IN,False,Adult,January
31044,31045,408-3572295-5992330,3572295,Men,29,2022-01-06,Delivered,Amazon,SET398-KR-PP-L,Set,...,1,INR,1115,PITHORAGARH,UTTARAKHAND,262501,IN,False,Teenger,January
31045,31046,405-1423498-9705162,1423498,Men,46,2022-01-06,Delivered,Amazon,JNE3568-KR-M,kurta,...,1,INR,399,DHULE,MAHARASHTRA,424006,IN,False,Adult,January
31046,31047,408-4694875-8249153,4694875,Men,36,2022-01-06,Delivered,Flipkart,J0341-DR-XXXL,Western Dress,...,1,INR,791,WARANGAL,TELANGANA,506001,IN,False,Adult,January

In [58]:
df.to_excel("data analysis.xlsx",index=False)

In [59]:
df1=pd.read_excel("data Analysis.xlsx")
df1.head()

,index,Order ID,Cust ID,Gender,Age,Date,Status,Channel,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,age group,month
0,1,171-1029312-3038738,1029312,Women,44,2022-12-04,Delivered,Myntra,JNE1233-BLUE-KR-031-XXL,kurta,...,1,INR,376,MOHALI,PUNJAB,140301,IN,False,Adult,December
1,2,405-2183842-2225946,2183842,Women,29,2022-12-04,Delivered,Ajio,SET414-KR-NP-L,Set,...,1,INR,1449,GURUGRAM,HARYANA,122002,IN,False,Teenger,December
2,3,171-1641533-8921966,1641533,Women,67,2022-12-04,Delivered,Myntra,SET261-KR-PP-S,Set,...,1,INR,453,KOLKATA,WEST BENGAL,700029,IN,False,Senior,December
3,4,404-7490807-6300351,7490807,Women,20,2022-12-04,Delivered,Amazon,SET110-KR-PP-M,Set,...,1,INR,729,THANJAVUR,TAMIL NADU,613007,IN,False,Teenger,December
4,5,403-9293516-4577154,9293516,Women,62,2022-12-04,Delivered,Myntra,JNE2294-KR-A-XXL,kurta,...,1,INR,544,GURUGRAM,HARYANA,122001,IN,False,Senior,December